.btn {
	font-family: $font-family-secondary;
	font-size: 0.9375rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.btn-lg {
	font-size: 1.25rem;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 10px 30px;
}